.homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ece9e6 0%, #ffffff 100%);
}

.hero-section {
  text-align: center;
  max-width: 700px;
}

.hero-title {
  font-size: 4rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

.hero-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.chat-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
  }

.hero-btn {
  width: 100%;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #0056b3;
}

.chat-btn {
    width: 100%;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    background-clip: padding-box;
    overflow: hidden;
}

.chat-btn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, rgba(255,0,0,0.4), rgba(255,165,0,0.4), rgba(255,255,0,0.4), rgba(0,128,0,0.4), rgba(0,255,255,0.4), rgba(0,0,255,0.4), rgba(238,130,238,0.4));
    background-size: 200% 200%;
    border-radius: 7px;
    z-index: -1;
    filter: blur(10px);
    animation: rainbowGlowSlow 10s linear infinite;
}

.chat-btn:hover::before {
    filter: blur(15px);
}

.chat-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, red, orange, yellow, green, cyan, blue, violet);
    background-size: 200% 200%;
    z-index: -2;
    border-radius: 5px;
    animation: rainbowGlowSlow 10s linear infinite;
    opacity: 0.1;
}

@keyframes rainbowGlowSlow {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.outline-btn {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
}

.outline-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.no-select {
  user-select: none;         /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Edge */
}

.default-cursor {
  cursor: default;
}